<div class="auth">
    <div class="container">
        {{> icon_logo}}
        <hr class="divider">
        <form action="{{pathPrefix}}{{baseUrl}}auth/hydra/consent" method="POST">
            <p style="margin-bottom: 15px">Welcome to SOFI!</p>
            <p style="margin-bottom: 15px">Since this is your first accessing SOFI, you must grant some base permissions
                that allow us sign you in, as well as view your basic profile information.</p>

            <input name="challenge" type="hidden" value={{challenge}} />
            <input name="_csrf" type="hidden" value={{csrfToken}} />

            <div style="margin-bottom: 15px; margin-top: 8px">Scopes</div>
            {{#each requested_scope as |scope|}}
            <div style="margin-bottom: 5px">
                <input style="display: inline-block; margin-right: 3px" checked="checked" type="checkbox" id={{scope}}
                    value={{scope}} name="grant_scope" />
                <div style="display: inline-block">{{scope}}</div>
            </div>
            {{/each}}
            <ul>
                {{#if client.policy_url}}
                <li id="login-csrfToken">
                    <a href={{client.policy_url}}>Read the Privacy Policy</a>
                </li>
                {{/if}}
                {{#if client.tos_uri}}
                <li id="login-csrfToken">
                    <a href={{client.tos_uri}}>Terms of Service</a>
                </li>
                {{/if}}
            </ul>
            <div>
                <input type="checkbox" id="remember" value="1" name="remember" checked="checked" />
                <div style="display: inline-block; margin-right: 3px">Do not ask me again</div>
            </div>

            <Button type="submit" id="accept" name="submit" value="Allow access">Allow access</Button>
            <Button style="margin-top: 15px" type="submit" id="accept" name="submit" value="Deny access">Deny
                access</Button>
        </form>
    </div>
</div>